@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif" !important;
    background-color: #eeeeee;    
}

header{
    width: 100%;
    background-color: #292929;
    margin: 0;
    padding: 15px 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul{
    list-style: none;    
}

nav ul li {
    display: inline-block;
    margin: 0 45px 0 0;
}

nav ul li a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18pt;
}
#logo{
    border: 2px solid white;
    padding: 15px;
    margin: -15px 25px -15px 0;
    border-radius: 8px;
}

.container{
    width: 65%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 150px auto;
    padding: 50px 100px 100px 100px;
}

#hanz{
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: -1;
}

#franz{
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: -1;
}

h2{
    font-size: 2rem;
}

h3 a{
    color: white;
}

p a{
    color: white;
}

.formContainer{
    border-radius: 8px;
    border: 2px solid white;
    display: inline-block;
    padding: 25px 50px;
    position: relative;
}

.formContainer label{
    margin-right: 200px;
    position: relative;
    top: 2px;
}

.formContainer input[type=text], .formContainer input[type=number], .formContainer input[type=date] {
    position: absolute;
    right: 50px;
    padding: 5px;
    border-radius: 5px;    
}

.formContainer p{
    margin: 20px 0;
}

button{
    background-color: white;
    border-radius: 5px;
    padding: 12px 18px;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", "sans-serif" !important;
    margin: 15px 0 0 0;
    font-weight: 900;
}

td, th{
    padding: 12px 20px;
    border: 0.5px solid white;
    margin: 0;
}